<mat-card>
  <h1>{{formType}}</h1>
  <form #bookForm="ngForm">
    <div class="example-container">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)] = "title" name = "title" required>
          </mat-form-field>
        </p> 
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Author</mat-label>
            <input matInput [(ngModel)] = "author" name = "author" required>
          </mat-form-field>
        </p>                                       
      <div >
          <button (click) = "updateParent()" mat-raised-button color="primary">{{formType}}</button>

          <button (click) = "tellParentToClose()" mat-raised-button color="secondary">Cancel</button>
      </div>
    </div>
  </form>
 </mat-card>



