<mat-card>
    <h1>Register Form</h1>
    <form #registerForm = "ngForm" (ngSubmit) = "onSubmit()" >
        <div>
            <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder = "example: you@you.com"
                    [(ngModel)] = email
                    name = email
                    required>
              </mat-form-field> 
        </div>
        <div>
            <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput 
                    [(ngModel)] = password
                    name = password
                    required>
              </mat-form-field> 
        </div>
        <div>
            <p *ngIf = "isError"> {{errorMessage}}</p>
        </div>
        <div>
            <button [disabled] = "!registerForm.form.valid" type = "submit" mat-raised-button color="primary">Register</button>
            <p *ngIf = "isError">{{errorMessage}}</p>
        </div>
    </form>
</mat-card>
